<!DOCTYPE html>
  <html>
    <header>
      <title>Favorites index page</title>
    </header>
    <body>

    <% if flash.has?(:message) %>
    <%= flash[:message] %>
    <% end %></p>

    <p>Here are all your favorites...</p>

       
    </body>
  </html>