<!DOCTYPE html>
  <html>
    <header>
      <title>Favorites index page</title>
    </header>
    <body>

    <% if flash.has?(:logged_in_already) %>  
    <%= flash[:logged_in_already] %>
    <% end %></p>
    
    <% if flash.has?(:already_logged_in) %>  
    <%= flash[:already_logged_in] %>
    <% end %></p>

    <% if flash.has?(:signup_error) %>
    <%= flash[:signup_error] %>
    <% end %></p>

    <p>Here are all your favorites...</p>

    


    <a href="/favorites/new"><button type="create new">Log a new favorite</button><a href="/logout"><button type="logout">Log out</button>
       
    </body>
  </html>