<!DOCTYPE html>
<html>
<head>
<title>User's links</title>
</head>

<body>
<h1>Links to your favorite things</h1>

<% @urls.each do |url| %>

<ul>
<li><a href="<%= url.link %>" target="_blank"><%= url.link %></a></li>
</ul>

<% end %>

<a href="/favorites"><button>Back to favorites</button></a>
</body>


</html>