<!DOCTYPE html>
  <html>
    <body>
      <form action="/login" method="POST">
      <label>Username:</label>
      <p><input type="text" name="user[username]" id="username" required></p>
      <label>Password:</label>
      <p><input type="text" name="user[password]" id="password" required></p>
    </body>

  </html>