
    <% if flash.has?(:login_error) %>  
    <%= flash[:login_error] %>
    <% end %></p>

    <% if flash.has?(:not_logged_in) %>
    <%= flash[:not_logged_in] %>
    <% end %></p>

    <% if flash.has?(:logout_success) %>
    <%= flash[:logout_success] %>
    <% end %></p>

    

      <form action="/login" method="POST">
      <label>Username:</label>
      <p><input type="text" name="username" id="username"></p>
      <label>Password:</label>
      <p><input type="text" name="password" id="password"></p>
      <input type="submit" value="Log in">
      </form>

    <a href="/"><button>Go back to homepage</button></a>

 