<!DOCTYPE html>
  <html>
    <body>

    <% if flash.has?(:signup_error) %>
    <%= flash[:signup_error] %>
    <% end %></p>
     
      <form action="/signup" method="POST">
        <p><input type="text" name="user[username]" id="username" placeholder="Enter Username" required>
        <p><input type="text" name="user[email]" id="email" placeholder="Enter Email" required>
        <p><input type="text" name="user[password]" id="password" placeholder="Enter Password" required>
        <p><input type="submit" value="Create Account">
      </form>



    </body>
  </html>