<!DOCTYPE html>
  <html>
    <body>
     
      <form action="/signup" method="POST">
        <p><input type="text" name="user[username]" id="username" value="Enter Username" required>
        <p><input type="text" name="user[email]" id="email" value="Enter Email" required>
        <p><input type="text" name="user[password]" id="password" value="Enter Password" required>
        <p><input type=submit" value="Create Account">
      </form>
      
    </body>
  </html>