<!doctype html>
<html>
  <head>
  </head>
  <body>

      <b>Hello! Welcome to the Remember Me app.</b>
    
      <br><br>
      
      <i>A journal of favorite things that often slip from memory.</i>

      <br><br>
     
      <p>Hi there! Never forget a favorite line in a book or name of a transcendent restaurant you stumble upon on vacation.</p>
      
      <p>Because now you have a place to record new favorites as you stumble upon them. Turn here when you discover a favorite scent, dynamite smoothie recipe, or feel-good song on shuffle. </p>

      <p>Use cases? Come back when can't remember your favorite pie ship you discovered on a road trip—or need an idea of what to watch (hello, romantic indie flick you watched in college).</p>

      <p>Stay here for a while and dive inward. Record the things that make you happiest and you’ll have them on tap.</p>
 

  </body>
</html>