<!doctype html>
<html>
  <head>
  </head>
  <body>

      <b>Hello! Welcome to the Remember Me app.</b>
    
      <br><br>

      <i>A journal of beloved things that often slip from memory.</i>

      <br><br>
     
      <p>Hi there! Never forget a favorite line in a book or the name of a restaurant you stumble upon in a new town or your hometown.</p>
      
      <p>Because now you have a place to record new favorites as you stumble upon them. Turn here when you discover a new favorite scent, dynamite recipe, or feel-good song on shuffle. </p>

      <p>Use cases? Come back when can't remember that pie shop you discover on a road trip—or when need an idea of what to watch (how about that romantic indie flick you fell in love with months ago).</p>

      <p>Stay here for a while and dive inward. Record the things that make you happiest and you’ll have them on tap.</p>
 

  </body>
</html>