<!doctype html>
<html>
  <body>

 <a href="/about"><p>About</a></p>

<h3>Welcome to Your Favorite Things Diary!</h3>

<p>The place to track newly discovered favorites so you don’t lose track (ever!). You can always come back here for a refresh. </p>

<p>To get started, sign up for an account or log into an existing account to keep your faves under wraps. Only you will be able to see your personal list. Feel free to record new ones, edit preexisting content, or delete away!</p>
<br>
<br>
<a href="/login"><button type="login">Log in</button></a> <a href="/signup"><button type="signup">Sign up</button></a>








  </body>
</html>
