<!doctype html>
<html>
  <head>
     <p style="color: rgb(67, 93, 213); font-size: 40px; font-family: Garamond;">Remember Me</p>
  </head>
  <body style="font-family: Geneva;">
  
 
  <%= yield %>

  </body>
</html>
